<div class="card h-100">
  <%= image_tag 'about/header.png', class: "bd-placeholder-img bd-placeholder-img-lg card-img" %>
  <div class="card-img-overlay h-100 align-items-center d-flex justify-content-center text-white fs-1">
    アイディアファームで、アイディアをカタチにしよう！
  </div>
</div>
<div class="container">
  <div class="mt-5">
    <div class="text-center fs-2 fw-bold m-2 mb-4">
      アイディアファームはアイディアとスキルをマッチングさせ、アイディアを実現させるサービスです
    </div>
    <div class="text-center fs-6 m-2">
      <div class="m-2">
      アイディアは浮かんでくるけど、カタチにできない‥‥‥
      </div>
      <div class="m-2">
        カタチにするスキルはあるけど、何を作っていいか分からない‥‥‥
      </div>
    </div>
    <div class="text-center mt-5">
      <%= image_tag 'about/service_outline.png', class:"img-fluid"%>
    </div>
  </div>
  <div class="mt-5">
    <div class="text-center fs-2 fw-bold m-2 mb-4">
      こんな方に向けたサービスです
    </div>
    <div class="row">
      <div class="col-lg-6 row">
        <div class="col-lg-6">
          <%= image_tag 'about/originator_edit.jpg', class: "d-block mx-auto w-75" %>
        </div>
        <div class="col-lg-6">
          <div class="text-success fs-6 fw-bold m-2">
            発案者
          </div>
          <div class="m-2">
            アイディアを生む人。実現できるかどうかは考えなくてよいです。思いついたイロイロなアイディアを登録してみよう
          </div>
        </div>
      </div>
      <div class="col-lg-6 row">
        <div class="col-lg-6">
          <%= image_tag 'about/implementor_edit.jpg', class: "d-block mx-auto w-75" %>
        </div>
        <div class="col-lg-6">
          <div class="text-success fs-6 fw-bold m-2">
            実装者
          </div>
          <div class="m-2">
            アイディアをカタチにする人。アイディアは浮かばないけど実装スキルがある人向け。スキル経験を積むもよし、実際にプロダクトとして世に出すも良し（※）
          </div>
          <div class="m-2">
            ※発案者との協議が必要です。
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <div class="text-center fs-2 fw-bold m-2 mb-4">
      導入のメリット
    </div>
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag 'about/positive-vote.png', class: "d-block mx-auto w-50" %>
        <div class="text-center fs-6 fw-bold m-2">
          イイね機能
        </div>
        <div class="text-center">
          発案者はイイねの数でアイデアの注目度が分かる
        </div>
      </div>
      <div class="col-lg-4">
        <%= image_tag 'about/chat.png', class: "d-block mx-auto w-50" %>
        <div class="text-center fs-6 fw-bold m-2">
          コミュニケーション機能
        </div>
        <div class="text-center">
          発案者と実装者とのメッセージのやり取りが可能
        </div>
      </div>
      <div class="col-lg-4">
        <%= image_tag 'about/desktop.png', class: "d-block mx-auto w-50" %>
        <div class="text-center fs-6 fw-bold m-2">
          アイデア登録補助機能
        </div>
        <div class="text-center">
          マークダウン形式でアイデア登録が可能
        </div>
      </div>
    <div>
  </div>
  <div class="mt-5">
    <div class="text-center fs-2 fw-bold m-2 mb-4">
      やり取りの流れ
    </div>
    <div class="">
      <p class="fs-5 text-success m-3 fw-bold">STEP1. 発案者がアイデアを投稿する</p>
      <br>
      <p class="fs-5 text-success m-3 fw-bold">STEP2. 実装者は気になるアイデアにイイね、コメントを付ける</p>
      <br>
      <p class="fs-5 text-success m-3 fw-bold">STEP3. 発案者と実装者でコミュニケーションを取る</p>
      <br>
      <p class="fs-5 text-success m-3 fw-bold">STEP4. 実装者は開発を行う</p>
      <br>
      <p class="fs-5 text-success m-3 fw-bold">STEP5. アイデアが実現する</p>
    </div>
  </div>
  <div class="mt-5">
    <div class="text-center fs-2 fw-bold m-2 mb-4">
      各ロールのフロー
    </div>
    <div class="mt-5">
      <p class="fs-5 text-success m-3 fw-bold">発案者</p>
      <p class="fs-6 m-3">1. 発案者はアイディアを投稿します。このとき、アイディアの詳細は第三者からはマスキングされています。</p>
      <p class="fs-6 m-3">2. 興味を持った人が「イイネ！」すると、「イイネ」をした人だけがアイディアの詳細が閲覧可能となります。</p>
      <p class="fs-6 m-3">3. 誰が「イイネ」したのかは確認することができます。</p>
      <p class="fs-6 m-3">4. 「イイネ」した人とコミュニケーションを取ることができます。</p>
      <p class="fs-6 m-3">5. 「イイネ」をした人のうち実装に興味のある人が実装を行います。</p>
      <p class="fs-6 m-3">6. 実装状況はステータスでわかります。</p>
      <p class="fs-6 m-3">7. 実装が完了するとアイディアがカタチとなって実現します。</p>
    </div>
    <div class="mt-5">
      <p class="fs-5 text-success m-3 fw-bold">実装者</p>
      <p class="fs-6 m-3">1. 興味を持ったアイディアを「イイネ！」すると、アイディアの詳細が閲覧可能となります。</p>
      <p class="fs-6 m-3">2. 発案者とコミュニケーションを取ることができます。</p>
      <p class="fs-6 m-3">3. 興味を持ったアイディアに対して実装を行います。</p>
      <p class="fs-6 m-3">4. 実装ステータスを更新することで進捗状況を発案者に伝えます。</p>
      <p class="fs-6 m-3">5. 実装が完了するとアイディアがカタチとなって実現します。</p>
    </div>
  </div>
  <div class="mt-5">
    <div class="text-center fs-2 fw-bold m-2 mb-4">
      守ってほしいこと
    </div>
      <div class="mt-5">
        <p class="fs-5 text-success m-3 fw-bold">1.アイデアの盗用はやめよう。</p>
        <p class="fs-6 m-3">発案者の許可なくアイデアを実装するのはやめましょう。</p>
        <p class="fs-6 m-3">著作権侵害の可能性があります。</p>
      </div>
      <div class="mt-5">
        <p class="fs-5 text-success m-3 fw-bold">2.発案者が登録するアイデアは公序良俗に反しないものにしましょう。</p>
        <p class="fs-6 m-3">公序良俗に反する例</p>
        <p class="fs-6 m-3">・他者の著作権侵害の可能性のあるアイデア</p>
        <p class="fs-6 m-3">・犯罪を助長するようなアイデア</p>
        <p class="fs-6 m-3">・性的嗜好を含むようなアイデア</p>
      </div>
      <div class="mt-5">
        <p class="fs-5 text-success m-3 fw-bold">3.権利関係について発案者と実装者で十分話し合ってください。</p>
        <p class="fs-6 m-3">例えば、発案者のアイデアを実装者がカタチにし、商用製品化するような場合</p>
        <p class="fs-6 m-3">配布方法・利益配分の考え方などについて当事者間で十分話し合ってください。</p>
        <p class="fs-6 m-3">独断でこれらを行うと著作権侵害の可能性があります。</p>
      </div>
      <div class="mt-5">
        <p class="fs-5 text-success m-3 fw-bold">4.その他嫌がらせと思われるようなことはやめましょう。</p>
        <p class="fs-6 m-3">・公序良俗に反する書き込み</p>
        <p class="fs-6 m-3">・相手を誹謗中傷するような行為（意見の批判はOK）</p>
        <p class="fs-6 m-3">なお、アイデアファームでは利用者間の紛争について一切介入しません。</p>
        <p class="fs-6 m-3">利用規約詳細は<a class="fs-6">こちら</a></p>
      </div>
    </div>
  </div>
</div>