<div class="m-1">
  <%= form_with model: idea, url: "#{idea.id}/favorite" , local: true, id: idea.id, method: :put do |f| %>
  <%= f.hidden_field :'id', :value=> idea.id %>
    <% if current_user==nil %>
      <%= button_tag type: 'submit' , class: 'btn btn-success btn-sm' do %>
        <%= content_tag :string, '見せて！' %>
      <% end %>
    <% elsif idea.user_id==current_user.id %>
    <% elsif idea.users.find_by_id(current_user.id)==nil %>
      <%= button_tag type: 'submit' , class: 'btn btn-success btn-sm' do %>
        <%= content_tag :string, '見せて！' %>
      <% end %>
    <% else %>
    <% end %>
  <% end %>
</div>
<div>
  見せて！された回数： <%= idea.favorites.size %><br>
  見せて！した人：
  <% idea.users.each do |user| %>
    <%= user.name %>
  <% end %>
</div>

<% if idea.user == current_user %>
  <%= link_to ideas_edit_path(idea.id) , class: "btn btn-primary" do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg>
    編集
  <% end %>
<% end %>
