<div class="m-1">
  <%= form_with model: idea, url: "#{idea.id}/favorite" , local: true, id: idea.id, method: :put do |f| %>
  <%= f.hidden_field :'id', :value=> idea.id %>
    <% if current_user==nil %>
      <%= button_tag type: 'submit' , class: 'btn btn-success btn-sm' do %>
        <%= content_tag :string, 'みせて！' %>
      <% end %>
    <% elsif idea.user_id==current_user.id %>
    <% elsif idea.users.find_by_id(current_user.id)==nil %>
      <%= button_tag type: 'submit' , class: 'btn btn-success btn-sm' do %>
        <%= content_tag :string, 'みせて！' %>
      <% end %>
    <% else %>
    <% end %>
  <% end %>
</div>
<div class="text-break">
  みせて！された回数： <%= idea.favorites.size %><br>
  みせて！した人：
  <% idea.users.each do |user| %>
    <%= user.name %>
  <% end %>
</div>
