<div class="m-1">
  <%= form_with model: idea, url: "#{idea.id}/favorite" , local: true, id: idea.id, method: :put do |f| %>
  <%= f.hidden_field :'id', :value=> idea.id %>
    <% if current_user==nil %>
      <%= button_tag type: 'submit' , class: 'btn btn-success btn-sm' do %>
        <%= content_tag :string, '見せて！' %>
      <% end %>
    <% elsif idea.user_id==current_user.id %>
    <% elsif idea.users.find_by_id(current_user.id)==nil %>
      <%= button_tag type: 'submit' , class: 'btn btn-success btn-sm' do %>
        <%= content_tag :string, '見せて！' %>
      <% end %>
    <% else %>
    <% end %>
  <% end %>
</div>
<div class="text-break">
  見せて！された回数： <%= idea.favorites.size %><br>
  見せて！した人：
  <% idea.users.each do |user| %>
    <%= user.name %>
  <% end %>
</div>

<%= link_to 'Back' , root_path , class: "text-decoration-underline-hover" %>
<% if idea.user == current_user %>
  <%= link_to '編集' , ideas_edit_path(idea.id) , class: "text-decoration-underline-hover" %>
<% end %>
