<h1>New Idea</h1>

<%= form_with model: @idea, url: "/ideas", method: :post do |form| %>
  <%= form.text_field :title, :placeholder => "title"%><br />
  <%= form.text_field :outline, :placeholder => "outline"%><br />
  <%= form.text_field :detail, :placeholder => "detail"%><br />
  <%= form.submit "Create idea" %><br />
<% end %>

<%= link_to 'Back', ideas_path %>
