<h1>New Idea</h1>

<%= form_with model: @idea, url: "/ideas/register", method: :post do |form|%>
  <div class="mb-3">
    <label for="idea_title" class="form-label">タイトル</label>
    <%= form.text_field :'title', :placeholder => "title"%>
  </div>
  <div class="mb-3">
    <label for="idea_outline" class="form-label">概要</label>
    <%= form.text_field :'outline', :placeholder => "outline"%>
  </div>
  <div class="mb-3">
    <label for="idea_detail" class="form-label">詳細</label>
    <%= form.text_field :'detail', :placeholder => "detail"%>
  </div>
  <div>
    <%= render 'layouts/error_messages', model: form.object %>
  </div>
  <%= form.submit "アイデア作成" %>
<% end %>
<%= link_to 'Back', root_path %>
