<% set_meta_tags title: 'アイデア登録' %>

<div class="container">
  <%= form_with model: @idea, url: "/ideas/register", method: :post, role: "form" do |form|%>
    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label for="idea_title" class="form-label h4">タイトル</label>
        <%= form.text_field :'title', :class => "form-control", :placeholder => "タイトルを入力"%>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label for="idea_outline" class="form-label h4">概要</label>
        <%= form.text_area :'outline', :class => "form-control", :placeholder => "概要を入力", rows: 4 %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-8 mb-3">
        <label for="idea_detail" class="form-label h4">詳細</label>
        <%= form.text_area :'detail', :class => "form-control", :placeholder => "詳細を入力", rows: 8 %>
      </div>
    </div>
    <div class="mb-3">
      <%= render 'layouts/error_messages', model: form.object %>
    </div>
    <div class="mb-3">
      <%= form.file_field :images, multiple: true %>
    </div>
    <!-- <div class="mb-3">
      <%= link_to "ファイルアップロード", "", class: "btn btn-outline-dark" %>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><p class="card-text text-end"><i class="btn-close"></i></p></h5>
              <img class="img-fluid w-100" src="https://placehold.jp/300x200.png">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><p class="card-text text-end"><i class="btn-close"></i></p></h5>
              <img class="img-fluid w-100" src="https://placehold.jp/300x200.png">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><p class="card-text text-end"><i class="btn-close"></i></p></h5>
              <img class="img-fluid w-100" src="https://placehold.jp/300x200.png">
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div>
      <%= form.submit "投稿する", class: "btn btn-primary"%>
    </div>
  <% end %>
  <br>
  <div class="pickerContainer">アイキャッチ絵文字を選択する</div>
</div>