<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Outline:</strong>
  <%= @idea.outline %>
</p>

<p>
  <strong>Detail:</strong>
  <% if current_user != nil && (@idea.user_id == current_user.id || @idea.users.find_by_id(current_user.id) != nil) %>
    <%= @idea.detail %>
  <% else %>
    ※イイねすると詳細を閲覧できます
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @idea.user_id %>
</p>

<%= form_with model: @idea, url: "#{@idea.id}/favorite" , local: true, id: @idea.id, method: :put do |f| %>
  <%= f.hidden_field :'id', :value => @idea.id %>
  <% if current_user == nil %>
    <%= f.submit "ログインしてイイねする", class: "btn btn-primary" %>
  <% elsif @idea.user_id == current_user.id %>
  <% elsif @idea.users.find_by_id(current_user.id) == nil %>
    <%= f.submit "イイね", class: "btn btn-primary" %>
  <% else %>
    <%= f.submit "イイね解除", class: "btn btn-primary" %>
  <% end %>
<% end %>
<p>
  <strong>いいねした人:</strong>
  <% @idea.users.each do |user| %>
    <%= user.name %>
  <% end %>
</p>

<p>
  <strong>いいね数:</strong>
  <%= @idea.favorites.size %>
</p>

<%= link_to 'Back', root_path %>
<%= link_to '編集', ideas_edit_path(@idea.id) %>
