<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Outline:</strong>
  <%= @idea.outline %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @idea.detail %>
</p>

<p>
  <strong>User:</strong>
  <%= @idea.user_id %>
</p>

<%= link_to 'Back', root_path %>
