<div class="p-sm-5 mb-4 index-bg-img">
  <div class="container">
    <div class="display-4 text-primary fw-bold">アイデアファーム supported by AIIT 中鉢PT</div>
    <div class="fs-2 fw-bold lh-base text-dark m-4">
      アプリのタネをみんなで撒こう！<br>
      アプリのタネをみんなで育てよう！
    </div>
  </div>
</div>
<div class ="ideas_container">
  <% @ideas.each do |idea| %>
    <a href="" onclick="window.location.href='ideas/<%= idea.id %>'" class="card w-75 bg-light mx-auto m-3 text-decoration-none link-dark">
      <div class="row p-1 bg-secondary">
        <h1 class="col-md-2 d-flex justify-content-center align-items-center" style="font-size: 4rem;">
          <%= idea.emoji %>
        </h1>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title text-decoration-underline-hover"><%= idea.title %></h5>
            <p class="card-text">
            最終更新:
            <% if (Time.now.to_i - idea.updated_at.to_i) <= 60 * 60 %>
            <%= (Time.now.to_i - idea.updated_at.to_i) / 60 %>
            分前
            <% elsif (Time.now.to_i - idea.updated_at.to_i) <= 60 * 60 * 24 %>
            <%= (Time.now.to_i - idea.updated_at.to_i) / 60 / 60 %>
            時間前
            <% else %>
            <%= (Time.now.to_i - idea.updated_at.to_i) / 60 / 60 / 24 %>
            日前
            <% end  %>
            </p>
            <p class="card-text">
              <%= idea.outline %>
            </p>
          </div>
        </div>
      </div>
    </a>
  <% end %>
  <%= paginate @ideas, theme: 'bootstrap-5'%>
</div>

