<div class="top_image_wrapper">
  <% if !user_signed_in? %>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
  <% end %>
  <%= image_tag 'top_idea.jpg',id: "top_idea", class: "top_idea" %>
  <p id= "top_title">Idea Bank</p>
  <p id= "top_catch_copy">
    ここにキャッチコピーを入れる<br>
    ここにキャッチコピーを入れる<br>
  </p>
</div>

<div class ="search_container">
  <%= form_with url: "/search", method: :get do |form| %>
    <%= form.label :query, "Search for:" %>
    <%= form.text_field :query %>
    <%= form.text_field :query %>
    <%= form.text_field :query %>
    <%= form.submit "Search Ideas" %>
  <% end %>
</div>

<div class ="ideas_container">
  <ul>
    <li class="ideas_list">
      <a href="/pages/detail"></a>
        <div class="overview">
          <h2>アイデア１タイトル</h2>
          <span>要約</span>
        <div>
        <div class="originator">投稿者</div>
        <div class="status">ステータス</div>
        <div class="date">
          <time datetime="2022-04-25">Posted 10 hours ago</time>
        </div>

    </li>

    <li class="ideas_list">
      <div class="overview">
        <h2>アイデア２タイトル</h2>
        <span>要約</span>
      <div>
      <div class="originator">投稿者</div>
      <div class="status">ステータス</div>
      <div class="date">
        <time datetime="2022-04-25">Posted 10 hours ago</time>
      </div>
    </li>

    <li class="ideas_list">
    <div class="overview">
      <h2>アイデア３タイトル</h2>
      <span>要約</span>
    <div>
    <div class="originator">投稿者</div>
    <div class="status">ステータス</div>
    <div class="date">
      <time datetime="2022-04-25">Posted 10 hours ago</time>
    </div>
  </li>
  </ul>
</div>

