<div class="p-3 p-sm-5 mb-4 bg-img">
  <div class="container">
    <h1 class="display-1 fw-bold">Idea Bank</h1>
    <div class="display-6 text-secondary m-4">
      ここにキャッチコピーを入れる<br>
      ここにキャッチコピーを入れる
    </div>
  </div>
</div>

<div class ="ideas_container">
  <% @ideas.each do |idea| %>
    <a href="ideas/<%= idea.id %>" class="card w-75 bg-light mx-auto m-3 text-decoration-none link-dark">
      <div class="card-body">
        <div class="row p-1">
          <h5 class="card-title col-9"><%= idea.title %></h5>
          <p class="card-text ps-3 col-3">
          最終更新:
          <% if (Time.now.to_i - idea.updated_at.to_i) <= 60 * 60 %>
          <%= (Time.now.to_i - idea.updated_at.to_i) / 60 %>
          分前
          <% elsif (Time.now.to_i - idea.updated_at.to_i) <= 60 * 60 * 24 %>
          <%= (Time.now.to_i - idea.updated_at.to_i) / 60 / 60 %>
          時間前
          <% else %>
          <%= (Time.now.to_i - idea.updated_at.to_i) / 60 / 60 / 24 %>
          日前
          <% end  %>
          </p>
        </div>
        <p class="card-text ps-3">
          <%= idea.outline %>
        </p>
      </div>
    </a>
  <% end %>
  <%= paginate @ideas, theme: 'bootstrap-5'%>
</div>

