<div class="p-3 p-sm-5 mb-4 bg-img">
  <div class="container">
    <div class="display-4 text-white fw-bold">アイデアファーム supported by AIIT 中鉢PT</div>
    <div class="fs-2 text-success fw-bold lh-base m-4">
      アプリのタネをみんなで撒こう！<br>
      アプリのタネをみんなで育てよう！
    </div>
  </div>
</div>
<div class ="ideas_container">
  <% @ideas.each do |idea| %>
    <a href="" onclick="window.location.href='ideas/<%= idea.id %>'" class="card w-75 bg-light mx-auto m-3 text-decoration-none link-dark">
      <div class="card-body">
        <div class="row p-1">
          <h5 class="card-title col-9"><%= idea.title %></h5>
          <p class="card-text ps-3 col-3">
          最終更新:
          <% if (Time.now.to_i - idea.updated_at.to_i) <= 60 * 60 %>
          <%= (Time.now.to_i - idea.updated_at.to_i) / 60 %>
          分前
          <% elsif (Time.now.to_i - idea.updated_at.to_i) <= 60 * 60 * 24 %>
          <%= (Time.now.to_i - idea.updated_at.to_i) / 60 / 60 %>
          時間前
          <% else %>
          <%= (Time.now.to_i - idea.updated_at.to_i) / 60 / 60 / 24 %>
          日前
          <% end  %>
          </p>
        </div>
        <p class="card-text ps-3">
          <%= idea.outline %>
        </p>
      </div>
    </a>
  <% end %>
  <%= paginate @ideas, theme: 'bootstrap-5'%>
</div>

