<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.ico') %>
    <title>アイデアファーム supported by AIIT 中鉢PT</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  </head>

  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v14.0&appId=522684069319655&autoLogAppEvents=1" nonce="Kie28uVE"></script>
    <!-- <div id="js-hello-vue"></div> -->
    <header class="position-relative bg-dark">
      <div class="d-flex justify-content-between align-items-center py-2 px-3">
        <%= link_to image_tag("buds.png", size: "32x32", class: "navbar-brand"), root_path %>

        <ul class="d-flex align-items-center pt-3">
          <% if user_signed_in? %>
            <li class="list-unstyled me-2">
              <%= link_to  image_tag("bell.svg"), notifications_path%>
            </li>
            <li class="list-unstyled me-2">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <span class="link-light py-2 px-3 dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= current_user.name %>
                  </span>
                  <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <%= link_to "アイデア登録", ideas_register_path, method: :get, class: "link-light py-2 px-3 border rounded text-decoration-none" %>
            </li>
          <% else %>
            <li class="list-unstyled me-2">
              <%= link_to "サインイン", new_user_session_path, class: "link-light py-2 px-3 border rounded text-decoration-none" %>
            </li>
            <li class="list-unstyled">
              <%= link_to "サインアップ", new_user_registration_path, class: "link-light py-2 px-3 border rounded text-decoration-none" %>
            </li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
    <% if notice %>
    <div id="notice-modal" class="modal fade" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <%= notice %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </body>
</html>
